<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-touch-fullscreen" content="yes" />
  <meta name="format-detection" content="telephone=no"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
  
  <title>{%- block title -%}{%- endblock -%}</title>
  {%- block default_header -%}{%- endblock -%}
</head>
<body>
  <div class='wrapper'>
    {% block main %}

    {% endblock %}
  </div>
  {% block config %}{% endblock %}
</body>
</html>
